<launch>

    <!-- Static transform between LIDAR and left camera -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="zed_left_camera_optical_frame_to_velodyne"
        args="5.214154202176700392e-02 -1.846812214940576902e-01 -4.561479952008089256e-02 -3.046857448372968236e+00 -1.631619169438448314e+00 -1.657808369943630566e+00 zed_left_camera_optical_frame velodyne"/>

    <!-- Custom node to publish dynamic transform between odom and base_link frames -->
    <node pkg="rtabmap_example" type="odom_to_base_link.py" name="odom_to_base_link" output="screen"/>

    <!-- Synchronization -->
    <node pkg="rtabmap_example" type="synchronize.py" name="synchronization" output="screen"/>

    <!-- Rtabmap mapping -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
        <remap from="odom" to="/synchronized/odom_base_link"/>

        <remap from="left/image_rect" to="/synchronized/left_image"/>
        <remap from="left/camera_info" to="/synchronized/left_camera_info"/>
        <remap from="right/image_rect" to="/synchronized/right_image"/>
        <remap from="right/camera_info" to="/synchronized/right_camera_info"/>
        
        <remap from="scan_cloud" to="/synchronized/velodyne_points"/>
        
        <remap from="rgb/image" to="/synchronized/left_image"/>
        <remap from="rgb/camera_info" to="/synchronized/left_camera_info"/>
        <remap from="depth/image" to="/synchronized/depth_image"/>
        
        <remap from="get_map_data" to="/rtabmap/get_map_data"/>

        <param name="subscribe_stereo" value="false"/>
        <param name="subscribe_depth" value="true"/>
        <param name="subscribe_rgbd" value="false"/>
        <param name="subscribe_scan" value="false"/>
        <param name="subscribe_scan_cloud" value="true"/>
        
        <param name="approx_sync" value="true"/>
        <param name="queue_size" value="35"/>
        
        <param name="Rtabmap/DetectionRate" value="100"/>
        <param name="Grid/RayTracing" value="true"/>
        <param name="Grid/FromDepth" value="false"/>
    </node>

</launch>

